#homePage {

    background-color: var(--background-color);

    .homePageContainer {
        width: 80%;
        margin: 0 auto;

        .searchPanelContainer {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            height: max-content;
            padding: 3% 0;
            flex-wrap: wrap;

            .searchContainer {
                color: var(--card-text);
                width: 350px;
                background-color: var(--card-bg);
                padding: 13px;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                height: 50px;

                i {
                    font-size: 24px;
                    padding: 0 10px;
                    color: var(--card-text);

                }

                input {
                    border: none;
                    outline: none;
                    font-size: 20px;
                    padding: 0 10px;
                    background-color: var(--card-bg);
                    color: var(--card-text);

                }
            }

            .filterCont {
                width: max-content;
                padding: 10px;
                background-color: var(--card-bg);
                color: var(--card-text);
                width: 150px;
                position: relative;

                &:hover .filterDropDown {
                    width: 150px;

                    display: block;
                    height: max-content;
                }

                .filterDropDown {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -210px;
                    height: 0;
                    overflow: hidden;

                    background-color: var(--card-bg);
                    color: var(--card-text);

                    ul {
                        margin-top: 15px;
                        padding: 10px;

                        li {
                            padding: 5px 0;

                            &:hover {
                                cursor: pointer;
                                background-color: var(--background-color);
                            }
                        }
                    }
                }
            }
        }

    }

    .cardCont {
        padding: 5% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


        .card {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            max-width: 320px;
            min-height: 420px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            color: var(--card-text);
            background-color: var(--card-bg);
            border-radius: 10px;
            margin: 40px 15px 40px 15px;

            .image {
                img {
                    height: 160px;
                    width: 320px;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    object-fit: cover;
                }
            }

            p {
                text-align: center;
                padding-bottom: 10px;

                a {
                    text-decoration: underline;
                    color: var(--card-text);
                }
            }


            .cardContent {
                padding: 30px;
                display: flex;
                gap: 35px;
                flex-direction: column;

                div {


                    span {
                        font-weight: 600;
                    }
                }

                .countryDetails {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                }

                .name {
                    font-weight: 900;
                    font-size: 24px;
                }
            }
        }
    }
}